lazy-lock.json
default.target.wants/
sockets.target.wants/
mimeapps.list
mimeinfo.cache
kitty.conf.bak
/home/amtea/.config/waybar/style.css
/home/amtea/.local/share/fonts/TTF/.uuid
/home/amtea/.local/share/fonts/.uuid
