lazy-lock.json
default.target.wants/
sockets.target.wants/
kitty.conf.bak
/home/amtea/.local/share/fonts/TTF/.uuid
/home/amtea/.local/share/fonts/.uuid
/home/amtea/.local/share/applications/mimeapps.list
/home/amtea/.local/share/applications/mimeinfo.cache
