[Unit]
Description=Chrome browser

[Service]
ExecStart=/usr/bin/google-chrome-stable
Restart=on-failure
KillMode=control-group
TimeoutStopSec=10s

[Install]
WantedBy=default.target
