[Desktop Entry]
Name=nekoray
Exec=/usr/lib/nekoray/nekoray -tray -appdata
Terminal=false
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
