* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family:
		Liberation Mono,
		RedHatMono,
		FontAwesome,
		Roboto,
		Helvetica,
		Arial,
		sans-serif;
	font-size: 13px;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.chromium {
	border: none;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	transition: none;
}

#pulseaudio:hover,
#tray *:hover,
#workspaces button:hover,
#custom-vpn:hover {
	background: rgba(128, 128, 128, 0.5);
}

#workspaces button.visible {
	box-shadow: inset 0 3px #808080;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#clock,
#battery,
#disk,
#temperature,
#backlight,
#language,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
	padding: 0 10px;
}

#custom-vpn {
	padding: 0 5px;
}

#custom-vpn.connected {
	box-shadow: inset 0 3px #808080;
}

#window {
	padding: 0 5px;
}

/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
	margin-right: 0;
}

#battery {
	background-color: #ffffff;
	color: #000000;
}

#battery.charging,
#battery.plugged {
	color: #ffffff;
	background-color: #26a65b;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	color: #ffffff;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: #ffffff;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: #000000;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	color: #000000;
}

#pulseaudio.muted {
	color: #808080;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#custom-media {
	color: #2a5c45;
	min-width: 100px;
}

#custom-startup.startup_grey {
	color: grey;
}

#custom-startup.startup_green {
	color: green;
}

#custom-startup.startup_yellow {
	color: yellow;
}

#custom-startup.startup_red {
	color: red;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#idle_inhibitor.activated {
	color: #2d3436;
}

#mpd {
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#keyboard-state {
	color: #000000;
	padding: 0 0px;
	/* margin: 0 5px; */
	min-width: 16px;
}

#keyboard-state>label {
	padding: 0 5px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
}

window#waybar#menu {
	background-color: #ffffff;
}
