[Unit]
Description=Disable greetd before shutdown
DefaultDependencies=no
Before=poweroff.target reboot.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/systemctl is-active --quiet greetd.service
ExecStart=/usr/bin/systemctl --quiet stop greetd.service
StandardOutput=null
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=poweroff.target reboot.target
