[Unit]
Description=NumLock
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/local/bin/numlock
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
